

.portfolio3 .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: 30px auto 5px 20px auto auto 10px auto 10px 15px auto auto 40px auto auto 5px auto 10px auto auto 10px;

}

.img-fit {
    overflow: hidden;
}

.img-fit img {
    width: 100%;
    height: auto;


}




.imgs1 {
    grid-column: 8/ 10;
    grid-row: 2 / 7;
z-index: 3;}

.imgs2 {
    grid-column: 9 / 12;
    grid-row: 4 / 9;}
.imgs3 {
    grid-column: 6 / 10;
    grid-row: 8 / 10;}
.imgs1 img {

    border: 3px solid white;
}


.imgs2 img {

    border: 3px solid white;
}

.imgs3 img {

    border: 3px solid white;
}


.name3 {
    grid-column: 9 / -1;
    grid-row: 3/ 5;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 4;

}

.poem5 {
    grid-column: 4 / 9;
    grid-row: 6 / 7;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
}

.line5 {
    grid-column: 8 / 11;
    grid-row: 10/ 11;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    
}
