* {
    box-sizing: border-box;
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: 30px auto auto 15px auto 15px auto 20px auto auto 20px auto 10px auto auto 5px auto 0px auto 15px auto auto 10px;

}

.img-fit {
    overflow: hidden;
}


.img-fit img {
    width: 100%;
    height: auto;

}
 


.img1 {
    grid-column: 9 / -1;
    grid-row: 2 / 6;
}



.img2 {
    grid-column: 4 / 9;
    grid-row: 5 / 8;
}

.img3 {
    grid-column: 8 / 12;
    grid-row: 7 / 10;


}

.img4 {
    grid-column: 1 / 5;
    grid-row: 12/ 16;

}

.img5 {
    grid-column: 4 / 8;
    grid-row: 15 / 18;

}

.img6 {
    grid-column: 2 / 6;
    grid-row: 17 / 20;

}


.img7 {
    grid-column: 4 / 7;
    grid-row: 19 / 22;

}

.img8 {
    grid-column: 1 / 4;
    grid-row: 21 / 23;

}


.img1 img {

    border: 3px solid white;
}


.img2 img {

    border: 3px solid white;
}

.img3 img {

    border: 3px solid white;
}

.img4 img {

    border: 3px solid white;
}

.img5 img {

    border: 3px solid white;
}

.img6 img {

    border: 3px solid white;
}

.img7 img {

    border: 3px solid white;
}

.img8 img {

    border: 3px solid white;
}





.text {
    width: 100%;
    height: auto;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.name {
    grid-column: 6 / 9;
    grid-row: 3 / 4;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 8px;
    text-indent: 40px
}



.poem1 {
    grid-column: 4 / 10;
    grid-row: 8 / 11;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 2em;
    text-align: justify;

}


.poem2 {
    grid-column: 4 / -1;
    grid-row: 22/ 23;
    /*
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-indent: 0px*/

    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    text-align: justify;
    letter-spacing: 0.01em;
}

.poem3 {
    grid-column: 3 / 12;
    grid-row: 12 / 13;
    font-weight: 700;
    font-size: 2em;

    letter-spacing: 0.1em;


}

.quote2 {
    grid-column: 4 / -1;
    grid-row: 14 / 15;
    font-weight: 700;
    font-size: 2em;

    letter-spacing: 0.1em;

}


.line9 {
    grid-column: 8 / 10;
    grid-row: 23/ 24;
    font-size: 0.8em;
    letter-spacing: 0.1em;


}
